.luffy {
  border-radius: 30px;
  margin-top: 30px;
}
.text {
  font-family: "Source Code Pro", monospace;
}
.heading {
  font-family: "VT323", monospace;
}

.nobullets {
  list-style-type: none;
}
.round {
  border-radius: 20px;
}
p {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: black;
}
li {
  font-family: "Poppins", sans-serif;
}
h2 {
  font-family: "Bebas Neue", sans-serif;
  color: white;
}

h4 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
body {
  background: linear-gradient(250deg, black, white, black);
  background-size: 500% 50% 520%;
  animation: body 18s ease infinite;
}

@keyframes body {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.wow {
  color: black;

  font-weight: bolder;
}
